h3{
  background: rgba(88, 126, 149, 0.886);
  border: 5px solid;
  padding: 18px;
  text-align: center;
}

h2{
    text-decoration: underline;
}

img{
    display: block;
    margin: 0px auto;
}

body{
    background: #131F30 url('imagens/logo.png')
    no-repeat scroll right top;
    font: 16px 'Arial', serif;
}

.centralizar{
    text-align: center;
    image-orientation: center;
}

#principal{
    color:rgba(88, 126, 149, 0.886);

    /*border: 1px solid white;*/
}

#menu{
    background: rgba(88, 126, 149, 0.886);
    border: 2px solid;
    padding: 18px;
    text-align: center;
}


#conteudo{
    background: #131F30;
    padding: 20px;
}

a{
    color: #131F30;
    text-decoration:underline rgb(15, 21, 82);
    font-weight: bold;
    padding: 5px;
}

/**/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .container{
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
  }
  
  .header{
    background: linear-gradient(120deg, #2b4d55 0%, #234ea9 100%);
    padding: 24px;
    text-align: center;
    color: #FFF;
  }
  
  .form{
    padding: 18px;
  }
  
  .form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
  }
  
  .form-content label{
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
  }
  
  .form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
  }
  
  .form button{
    background-color: #2b4d55;
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
  }
  
  .form-content.error input{
    color: #ff3b25;
    
  }
  
  .form-content.error a{
    color: #ff3b25;
    visibility: visible;
    
  }

  .all{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 